@use "../../globals/" as *;

:root {
    --primary-color: #ffa03f;
    --primary-color-dark: #e08b37;
    --text-dark: #020617;
    --text-light: #1e293b;
    --white: #fff;
    --max-width: 1200px;
}

.client {
    &__container {
        position: relative;
        isolation: isolate;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 75%;
        width: unset;
        height: 12rem;
        aspect-ratio: 1;
        transform: translate(-65%, -35%) rotate(-45deg);
    }

    &__card {
        position: relative;
        isolation: isolate;
        margin-top: 4rem;
        display: none;
        animation: fadeEffect 1s;

        &.active {
            display: block;
        }

        &__image {
            img {
                max-width: 400px;
                border-radius: 2rem;
                box-shadow: 30px -30px 0px rgba(0, 0, 0, 0.1);
            }
        }

        &__content {
            padding: 2rem;
            background-color: var(--white);
            border-left: 5px solid var(--primary-color);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
            transform: translateY(-5rem);

            @include mq("sm") {
                position: absolute;
                top: 50%;
                right: 0;
                width: 75%;
                margin-left: 2rem;
                transform: translateY(-50%);
            }

            h4 {
                font-size: 2rem;
                font-weight: 500;
                color: var(--text-dark);
            }

            h5 {
                margin-bottom: 2rem;
                font-size: 1.2rem;
                font-weight: 400;
                color: var(--primary-color);
            }

            p {
                color: var(--text-light);
            }
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        @include mq("sm") {
            margin-top: 2rem;
        }

        @include mq("md") {
            position: absolute;
            top: 15rem;
            right: 1rem;
            margin-top: 0;
        }

        .btn {
            display: flex;
            aspect-ratio: 1;
            padding: 10px 12px;
            font-size: 1.5rem;
            color: var(--primary-color);
            background-color: var(--white);
            border: 2px solid var(--primary-color);
            border-radius: 100%;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

            &:hover {
                // color: var(--white);
                // background-color: var(--primary-color);

                &:nth-of-type(1) {
                    .icon {
                        transform: translateX(-2px);
                        transition: 0.3s;
                    }
                }

                &:nth-of-type(2) {
                    .icon {
                        transform: translateX(2px);
                        transition: 0.3s;
                    }
                }
            }
        }
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
