@use "../../globals/" as *;

:root {
    --primary-color: #ffa03f;
    --primary-color-dark: #e08b37;
    --text-dark: #020617;
    --text-light: #1e293b;
    --white: #fff;
    --max-width: 1200px;
}

.explore {
    &__container {
        display: grid;
        gap: 2rem 1rem;
        overflow: hidden;

        @include mq("md") {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__image {
        img {
            max-width: 475px;
            margin-inline: auto;
            margin-block: 2rem;
            border-radius: 2rem;
            box-shadow: -30px -30px 0px rgba(0, 0, 0, 0.1);
        }
    }

    &__content {
        @include mq("md") {
            grid-area: 1 / 1 / 2 / 2;
        }

        .section__description {
            padding-block: 2rem;
        }

        &__btn {
            .btn {
                padding: 1.25rem 2.5rem;
                font-size: 1.5rem;
                border-radius: 1.25rem;
                box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
            }
        }

        &__grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            margin-top: 4rem;

            h4 {
                font-size: 3rem;
                font-weight: 500;
                color: var(--text-dark);
            }

            p {
                white-space: pre-line;
                color: var(--text-light);
            }
        }
    }
}
